{% extends "base.html" %}
{% block titulo %}Horarios de Consulta{% endblock titulo %}

{% block contenido %}

{% for horarioconsulta in horariosconsultas %}
<table class="table table-bordered table-dark">
  <thead>
  	<tr>
  		<th style="text-align:center">Horarios de Consulta</th>
  	</tr>
    <tr>
      <th scope="col" rowspan="2">Jefaturas</th>
      <th scope="col" rowspan="2">Docente</th>
      <th scope="col" colspan="2" style="text-align:center">Lunes</th>
      <th scope="col" colspan="2" style="text-align:center">Martes</th>
      <th scope="col" colspan="2" style="text-align:center">Miercoles</th>
      <th scope="col" colspan="2" style="text-align:center">Jueves</th>
      <th scope="col" colspan="2" style="text-align:center">Viernes</th>
      <th scope="col" colspan="3" style="text-align:center">Horas institucionales</th>

    </tr>


    <tr>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Dia</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
    </tr>    
</thead>
<tbody>
{% for horarioconsulta in horariosconsultas %}
    <tr>
      <td>{{ horarioconsulta.materia }}</td>
      <td>{{ horarioconsulta.profesor }}</td>
      <td>{{ horarioconsulta.desde }}</td>
      <td>{{ horarioconsulta.hasta }}</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock contenido %}
{{ horarioconsulta.materia }}
{{ horarioconsulta.profesor }}
{{ horarioconsulta.desde }}