{% extends "base.html" %}
{% block titulo %}Horarios de Consulta{% endblock titulo %}

{% block contenido %}

<table class="table table-bordered table-dark">
  <thead>
  	<tr>
  		<th style="text-align:center" colspan="15">Horarios de Consulta</th>
  	</tr>
    <tr>
      <th scope="col" rowspan="2">Jefaturas</th>
      <th scope="col" rowspan="2">Docente</th>
      <th scope="col" colspan="2" style="text-align:center">Lunes</th>
      <th scope="col" colspan="2" style="text-align:center">Martes</th>
      <th scope="col" colspan="2" style="text-align:center">Miercoles</th>
      <th scope="col" colspan="2" style="text-align:center">Jueves</th>
      <th scope="col" colspan="2" style="text-align:center">Viernes</th>
      <th scope="col" colspan="3" style="text-align:center">Horas institucionales</th>

    </tr>


    <tr>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
      <th style="text-align:center">Dia</th>
      <th style="text-align:center">Desde</th>
      <th style="text-align:center">Hasta</th>
    </tr>    
</thead>
<tbody>
{% for consulta in consultas %}
    <tr>
      <td>{{ consulta.materia }}</td>
      <td>{{ consulta.profesor }}</td>
      <td>{{ consulta.desde_lunes }}</td>
      <td>{{ consulta.hasta_lunes }}</td>
      <td>{{ consulta.desde_martes }}</td>
      <td>{{ consulta.hasta_martes }}</td>
      <td>{{ consulta.desde_miercoles }}</td>
      <td>{{ consulta.hasta_miercoles }}</td>
      <td>{{ consulta.desde_jueves }}</td>
      <td>{{ consulta.hasta_jueves }}</td>
      <td>{{ consulta.desde_viernes}}</td>
      <td>{{ consulta.hasta_viernes }}</td>
      <td>{{ consulta.horas_institucionales.dia }}</td> 
      <td>{{ consulta.horas_institucionales.desde }}</td>
      <td>{{ consulta.horas_institucionales.hasta }}</td>
      <td><a href="{% url 'horarios:detalle_consulta' consulta.id %}">Ver</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock contenido %}
