{% extends "base.html" %}
{% load static %}
{% block titulo %}Resultado Falta de Profesores{% endblock titulo %}
{% block contenido %}

<form class="form-inline" action="{% url 'falta_profesor:search' %}" method="get">
  <input name="q" type="search" class="form-control mr-sm-3" placeholder="Busqueda">
  <button class="btn btn-outline-success my-4 my-sm-2" type="submit"><img src="{% static 'img/icono_lupa.png' %}" alt="Search image"></button>
</form>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Profesor</th>
      <th scope="col">Materia</th>
      <th scope="col">Curso</th>
      <th scope="col">Fecha</th>
      <th scope="col">Turno</th>
    </tr>
  </thead>
  <tbody>
  	{% for faltaprofesor in object_list %}
	    <tr>
	      <td>{{ faltaprofesor.profesor }}</td>
	      <td>{{ faltaprofesor.materia }}</td>
	      <td>{{ faltaprofesor.curso }}</td>
	      <td>{{ faltaprofesor.fecha }}</td>
	      <td>{{ faltaprofesor.turno }}</td>
	    </tr>
   	{% endfor %}
  </tbody>
</table>
{% endblock contenido %}