{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">

  <title>{% block titulo %}{% endblock titulo %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'anuncios:list_anuncios' %}">Anuncios</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#">Faltas Profesores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Horarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'horarios:consulta' %}">Horarios Consulta</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesion</a>
              </div>
            </li> 
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'anuncios:list_anuncios' %}">Anuncios</a>
            </li> 
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'sesion:sign_up' %}">Registrarse</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% block contenido %}{% endblock contenido %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </div>
</body>
</html>