{% extends 'base.html' %}
{% block titulo %} {{ horario.nombre }} {{ horario.turno }} {% endblock titulo %}
{% block contenido %}
	<h1 class="text-white">Detalle del horario:</h1>

	<a href="{% url 'horarios:listado' %}" class="btn btn-primary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Volver</a>
	<a href="{% url 'horarios:modificar' horario.id %}" class="btn btn-primary btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Modificar</a>
	<a href="{% url 'horarios:borrar' horario.id %}" class="btn btn-danger btn-lg" role="button" style="margin-right: 10px; margin-bottom: 10px;">Borrar</a>


	<div class="card text-black mb-3" style="width: 100%;">
		<div class="card-header"><h5 class="card-title">{{ horario.nombre|capfirst }} {{ horario.turno|capfirst }}</h5></div>
		<div class="card-body">
			<p class="card-text">Nombre: {{ horario.nombre }}</p>
			<p class="card-text">Turno: {{ horario.turno }}</p>
		</div>
	</div>

{% endblock contenido %}
